//font
$primary-font: "Open sans", sans-serif;
$secondary-font: "Raleway", sans-serif;

//color
$gray: #393e46;
$gray-light: #6a727f;
$gray-light-2: #f8f8f9;
$gray-dark: #282f3a;
$gray-dark-2: #252b36;
$blue: #4a44f2;
